@import url('root.css');

.tagify {
  --tags-border-color: var(--color-dark-grey);
  --tags-hover-border-color: var(--border-color-C);
  --tags-focus-border-color: var(--border-color-C);
  width: 100%;
  max-width: none;
  background-color: var(--color-secondary);
}
.tagify__tag {
  --tag-bg: var(--button-backgroun);
  --tag-hover: var(--border-color-C);
  --tag-text-color: var(--color-text-secondary);
  --tag-border-radius: var(--fjm-button-border-radius);
  --tag-pad: 0.3em 0.5em;
}
.tagify__tag > div {
  color: var(--color-text-secondary) !important;
}
.tagify__tag__removeBtn {
  color: #bb86fc;
}
.tagify__input {
  color: var(--color-text-secondary);
}
.tagify__input::placeholder {
  color: var(--slider-accent);
  opacity: 1;
}
.tagify__dropdown {
  background-color: var(--color-secondary);
  color: var(--color-text-secondary);
  overflow-y: auto;
}
.tagify__dropdown__wrapper {
  max-height: inherit;
  overflow: auto;
}
.tagify__dropdown__item--active {
  background-color: var(--color-dark-grey);
}
